*{
    margin: 0px;
    padding: 0px;
    /* color: #4C4C4C; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    min-height: 700px;
    float: left;
}

/* article{
    width: 100%;
    min-height: 700px;
    margin-top: 50px;
    background: #F7F7F7;
    color: #4C4C4C;
    float: left;
} */