*{
    margin: 0px;
    padding: 0px;
    /* color: #4C4C4C; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    /* width: 84%;
    margin-left: 16%; */
    min-height: 700px;
    /* background: purple; */
}