.sectionInicio{
    width: 100%;
    min-height: 700px;
    margin-top: 50px;
    background: #F7F7F7;
    color: #4C4C4C;
    float: left;
}

.divTituloInicio{
    width: 100%;
    height: 70px;
    float: left;
}

.divTituloInicio h2{
    margin-left: 2%;
    font-size: 17px;
    margin-top: 40px;
}