.divVideo{
    width: 23.7%;
    height: 270px;
    margin-top: 10px;
    margin-left: 1%;
    cursor: auto;
    float: left;
}


.cajaVideo{
    width: 97%;
    margin-left: 1%;
    height: 160px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
}

.cajaVideo video{
    width: 100%;
    background: black;
    cursor: pointer;
    height: 160px;
}

.divLogoCanal{
    width: 12%;
    height: 37px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2%;
    margin-top: 10px;
    background: plum;
    float: left;
}

.divLogoCanal img{
    width: 100%;
    height: 37px;
}

.datosCanal{
    width: 80%;
    margin-left: 4%;
    height: 110px;
    margin-top: 10px;
    float: left;
}

.datosCanal p{
    font-size: 12px;
}

.pTitulo{
    margin-bottom: 10px;
}


